<!DOCTYPE html>
 <html>
    <head>
      <%-  include ('../partials/head') %>
      <%-  include ('../partials/header') %>
  <%-  include ('../partials/headscripts') %>  
  
        
 
    </head>
    <body>
                        
         
            
                        
            <main class="container">
                
 
                <!-- Left Column / Headphones Image -->
                <div class="left-column">
                  <img src="/grupo_1_gaming/public/images/producto1.jpg" alt="">
                </div>
               
               
                <!-- Right Column -->
                <div class="right-column">
               
                  <!-- Product Description -->
                  <div class="product-description">
                    
          

            
              </main>

              <%- include ('../partials/footer') %>
    </body>
</html>
