<footer class="section footer-classic context-dark bg-image" style="background:#f8f8f8;">
  <div class="row no-gutters social-container">
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
  </div>
<div class="container">
  <div class="row row-30">
    <div class="col-md-4 col-xl-5">
      <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="../../public/images/game_store_logo.png" alt="" width="140"   ></a>
        <p>Somos una página de venta de juegos para todas las plataformas. Esperamos que encuentres lo que estas buscando</p>
        <!-- Rights-->
        <p class="rights"><span>©  </span><span class="copyright-year">2021</span><span> </span><span>Grupo 1</span><span>. </span><span>All Rights Reserved.</span></p>
      </div>
    </div>
    <div class="col-md-4">
      <h5>Contacto</h5>
      <dl class="contact-list">
        <dt>Direccion:</dt>
        <dd>Av Siempreviva 742</dd>
      </dl>
      <dl class="contact-list">
        <dt>email:</dt>
        <dd><a href="mailto:#">consulta@gamestore.com</a></dd>
      </dl>
      <dl class="contact-list">
        <dt>Télefono:</dt>
        <dd><a href="tel:#">54 9 2901 0303456</a> <span>or</span> <a href="tel:#">54 9 2901 0303456</a>
        </dd>
      </dl>
    </div>
    <div class="col-md-4 col-xl-3">
      <h5>Links</h5>
      <ul class="nav-list">
        <li><a href="#">Sobre Nosotros</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Iniciar Sesion</a></li>
      </ul>
    </div>
  </div>
</div>
   
  </footer>