<head>
    <meta charset="UTF-8">
    <title>Bienvenidxs a GAME STORE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
    </style>
</head>